	
/*  Calendar */

#calendar {
	width: 158px;
	margin:	1em 8px .5em 10px;
	padding: 0px 0px 0px 0px;
	text-align:	center;
	border: 1px solid #868686;
	background-color: #fff; }

#calendar-nextmonth {
	width: 158px;
	margin:	-10px 8px 2em 10px;
	padding: 0px 0px 0px 0px;
	text-align:	center;
	border: 1px solid #868686;
	background-color: #fff; }
	
#month {
	vertical-align: middle;
	font: bold 10px Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 0px;
	text-align: center;
	padding: 3px 0px 3px 0px;
	color: #666;
	background-color: #f3f3f3; 
	border-bottom: 1px solid #868686; }

#month a:link { color: #666; background: transparent; }
#month a:visited { color: #666; background: transparent; }
#month a:hover { color: #ffd22A; background: transparent; text-decoration: underline; }
#month a:active { color: #666; background: transparent; }
	
.jumpmonth {
	vertical-align: middle;
	font: bold 10px Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 0px;
	text-align: center;
	padding: 3px 0px 3px 0px;
	color: #666;
	background-color: #f3f3f3; 
	border-bottom: 1px solid #868686; }

.jumpmonth a:link { color: #666; background: transparent; }
.jumpmonth a:visited { color: #666; background: transparent; }
.jumpmonth a:hover { color: #eeb211; background: transparent; text-decoration: underline; }
.jumpmonth a:active { color: #666; background: transparent; }

.weekdays {
	text-align: center;
	font: bold 10px/20px Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	text-decoration: none; }

.date {
	text-align: center;
	font: 10px/20px Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
	color: #868686; }

.date a {
	display: block;
	width: 20px;
	height: 20px;
	font: bold 10px/18px Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	text-decoration: none; }

.date a:link { color: #868686; background: transparent; }
.date a:visited { color: #868686; background: transparent; }
.date a:hover { color: #eeb211; background: transparent; text-decoration: underline; }
.date a:active { color: #868686; background: transparent; }

.today {
	font: bold 10px/18px Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	color: #868686;
	background: transparent; }

.today a {
	color: #868686;
	background-color: transparent;
	border: 1px solid #eeb211;
	padding: 1px; }

.today a:link { color: #868686; background: transparent; }
.today a:visited { color: #868686; background: transparent; }
.today a:hover { color: #eeb211; background: #fff; text-decoration: underline; }
.today a:active { color: #868686; background: transparent; }


.selected_date {
	font: bold 10px/18px Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	color: #868686;
	background: transparent; }

.selected_date a {
	color: #868686;
	background-color: transparent;
	border: 1px solid #369;
	padding: 1px; }

.selected_date a:link { color: #868686; background: transparent; }
.selected_date a:visited { color: #868686; background: transparent; }
.selected_date a:hover { color: #eeb211; background: #fff; text-decoration: underline; }
.selected_date a:active { color: #868686; background: transparent; }
